.card {
  padding: 20px;
  margin: 20px;
  list-style-type: none;
  display: inline-block;
  transition: 1s;
}
.card:hover {
  transform: scale(1.1, 1.1);
}
.card-title {
  text-decoration: none;
}
a {
  text-decoration: none;
}
img {
  width: 200px;
  height: 300px;
}
